<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transparent Input Field</title>
    <link rel="stylesheet" href="static/createai.css">
</head>
<body>
    <div class="input-container">
        <span class="label">My name is</span>
        <input class="input" type="text" id="username" name="username" placeholder="Your   Name">
        <span class="label">and I come from</span>

    </div>
</body>
</html>
