<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PromptHub - Modern Homepage</title>
    <link rel="stylesheet" href="./static/createOwnAi.css">
    <style>
    h2{
    animation: slideUpAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    }

@keyframes slideUpAnimation {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

    </style>

</head>

<body>
<div class="container">
    <div class="left">
<div>
<h2> Create Your Own Digital Twin</h2>
    <p class="animation a3">"Unleash creativity, connect with others! Welcome to a realm where you create your digital self, socialize, and have fun. Craft a unique avatar, forge friendships, and explore virtual landscapes together. Join now to shape your online identity and enjoy endless social adventures!"</p>
    <div>


    </div>
    <div class="animation a5" id="tool-len">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<a href="https://twitter.com" class="icon-button twitter"><i class="fab fa-twitter"></i><span></span></a>
<a href="https://www.facebook.com" class="icon-button facebook"><i class="fab fa-facebook"></i><span></span></a>
<a href="https://www.linkedin.com/in/ethan-wen" class="icon-button linkedin"><i class="fab fa-linkedin"></i><span></span></a>
<a href="https://www.instagram.com" class="icon-button instagram"><i class="fab fa-instagram"></i><span></span></a>
<a href="https://github.com/EthanWen6" class="icon-button github"><i class="fab fa-github"></i><span></span></a>
</div>

</div>

    </div>

    <div class = "right">
    </div>



</div>





<script>
    document.addEventListener("DOMContentLoaded", function() {
        const h2Element = document.querySelector("h2");

        h2Element.addEventListener("click", function() {
            window.location.href = "/createai";
        });
    });
</script>

</body>
</html>
